.player{
    background-color: aliceblue;
    width: 15rem;
    height: 5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: 2px solid #04eef7;
}

.label-player{
    margin-top: 0.5rem;
}

.input-player {
    border-radius: 55px;
    padding: 0.2rem;
    margin: 1rem;
}